[2020-01-24 18:54] fedorov opened #1 "Fix AttributeError exception"
I think this line should be catching `AtrributeError`, not `KeyError` exception: https://github.com/MGHComputationalPathology/highdicom/blob/master/src/highdicom/legacy/sop.py#L361

[2020-01-26 19:18] #1 closed, assigned to hackermd

[2020-02-05 16:04] fedorov opened #4 "Fix typo preventing output of PixelMeasuresSequence"
This line should say `Pixel`, not `Mixel`: https://github.com/MGHComputationalPathology/highdicom/blob/master/src/highdicom/legacy/sop.py#L363

Without correcting it, the resulting object does not have PixelMeasureSequence initialized, and is not valid. How were you able to load the output legacy enhanced objects into OsiriX? Or perhaps OsiriX does not care if `PixelSpacing` is absent?

@afshinmes

[2020-02-05 16:22] fedorov opened #5 "Sorting of image planes for legacy converted objects"
As implemented, it appears that legacy converter does not sort frames geometrically. Arguably, it should be the responsibility of the reader to sort them, but I wanted to confirm this was a deliberate decision not to sort them.  @hackermd can you comment?

As aside, Slicer does not sort frames while reading resulting multiframe (tested with the 2020-01-12 nightly):

![image](https://user-images.gi

[2020-02-07 00:01] #4 closed, assigned to hackermd

[2020-02-14 04:01] CPBridge opened #14 "It's impossible to add multiple fractional segments"
When a fractional segment is added with a float type (i.e. truly fractional segments, not binary segments encoded as fractional), the segment number is always set to 1. This means that if a second segment is added, both will have segment number 1, which I assume is not allowed...I have added a check to prevent this in my feature/more_seg_tests branch, but this makes adding multiple fractional segm

[2020-02-16 00:03] #14 closed, assigned to hackermd

[2020-02-22 04:57] fedorov opened #17 "Errors in input data and legacy conversion"
While evaluating legacy sop classes, @afshinmessiah and I ran into the not unexpected issues related to invalid input data. At least in some cases, those errors are rather trivial, such as mismatch of VR between SH and CS.

This raised the discussion with @dclunie below. Even after this discussion, I personally think it would make more sense and would be more practical to try to fix issues as they

[2020-02-25 15:52] fedorov opened #19 "Mapping of private into standard attributes as part of legacy enhanced MF generation"
Would this task be considered "in scope" for highdicom?

[2020-02-26 18:34] fedorov opened #20 "Sorting of attributes into Shared/PerFrame FGs"
@hackermd one issue we identified with the current legacy converter is that it does not detect attributes that are repeated and identical in the PerFrame functional groups to factor them out into Shared functional groups (which I think is non-compliant with the standard, and is a bug).

We want to fix this, and @afshinmessiah was going to work on this. But before he starts working on it, we wanted

[2020-05-03 22:11] CPBridge opened #30 "Syntax highlighting on readthedocs.io not working as expected"
There is no syntax highlighting for the code examples on read the docs https://highdicom.readthedocs.io/en/latest/usage.html

However, when html files are built locally with the makefile, syntax highlighting is working fine

[2020-06-03 13:50] codezizo opened #32 "SC Images are not included in the list of _iods.py"
This issue is because the generic Secondary Captures UID is no longer in the DICOM spec. However, they are still wildly used and thus should be supported.

[2020-06-03 22:18] afshinmessiah opened #33 ""overlay-plane" module is not listed in "_module.py" file"
In the list of iods ( _iod.py), "[overlay-plane](https://github.com/MGHComputationalPathology/highdicom/blob/61f91ef004ebdf851b5092bb963ef6c5378c7e2d/src/highdicom/_iods.py#L7665)" is listed as a module for pet-image. In [_module.py](https://github.com/MGHComputationalPathology/highdicom/blob/master/src/highdicom/_modules.py) file though, there is no such module as "overley-plane" to get the list

[2020-06-04 16:52] afshinmessiah commented on #33
The complete list of missing modules:

1. module multi-frame-overlay missing from iod: nm-image
2. module multi-frame-overlay missing from iod: rt-dose
3. module multi-frame-overlay missing from iod: x-ray-angiographic-image
4. module multi-frame-overlay missing from iod: xrf-image
5. module overlay-activation  missing from iod: color-softcopy-presentation-state
6. module overlay-activation  missi

[2020-06-07 17:41] hackermd commented on #33
These are all retired attributes containing `x` in the group or element part of the tag. pydicom stores those attributes not in the `pydicom._dicom_dict.DicomDictionary` but in a separate `pydicom._dicom_dict.RepeatersDictionary` and looking up the keyword corresponding to the tag requires a workaround.

Should be fixed with 6fd6e8ef67439cd7fa0f67724210bce10d79175b.

@afshinmessiah could you pleas

[2020-06-07 18:36] hackermd commented on #32
I just double-checked the current edition of the standard (2020b) to confirm that it still specifies the [Secondary Capture (SC) Image IOD](http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_A.8.html).

I think the problem was that the naming convention used for keys of the `IOD_MODULE_MAP` did not match the [storage class name assigned by pydicom](https://github.com/pydicom/pydi

[2020-06-08 16:15] afshinmessiah commented on #33
I checked the newly generated _iod and _module files. Some modules are missing:

1. module **real-time-audio-waveform-current-frame-functional-groups**           missing from iod: **real-time-audio-waveform**
2. module **real-time-video-endoscopic-image-current-frame-functional-groups**   missing from iod: **real-time-video-endoscopic-image**
3. module r**eal-time-video-photographic-image-current-

[2020-06-08 18:48] codezizo commented on #32
@hackermd just tested this morning and it worked!

Thanks for fixing! Glad it was an easier fix than what we had thought previously.

Cheers!

[2020-06-08 18:48] #32 closed

[2020-06-08 18:49] hackermd commented on #33
Yes, the attributes in Current Frame Functional Groups Module with group `0006` are skipped, since they are not part of the DICOM Dictionary.

We could handle that special case separate if needed. Out of curiosity, what do you need these attributes for?

[2020-06-08 18:51] hackermd commented on #32
I am going to add a few unit tests and draft a new release including these changes within the next week or so.

[2020-06-08 18:54] afshinmessiah commented on #33
No, I don't need them. I just ran a test on all iods and modules to see if all modules are included.

[2020-06-08 18:58] hackermd commented on #33
Ok. Thanks for the effort. I can include them for completeness (by hardcoding `0006` attributes).

If you already have test procedures to evaluate completeness, it would be great if we could include them into the unit tests located in `/tests`.

[2021-01-19 03:21] vanossj opened #38 "Incorrectly named IOD_MODULE_MAP key for positron emission tomography"
https://github.com/MGHComputationalPathology/highdicom/blob/a9f3916a9b98e09ff5f359fe77f508746e56b730/src/highdicom/_iods.py#L7825

Which SOPInstanceUID is the key `pet-image` supposed to link to? I don't see a pet image storage on the official [list](http://dicom.nema.org/dicom/2013/output/chtml/part04/sect_B.5.html).

Is it referring to _Positron Emission Tomography Image Storage_ SOP 1.2.840.100

[2021-01-21 20:15] #38 closed

[2021-01-21 20:16] hackermd commented on #38
@vanossj  thank you for reporting the issue and for fixing it. We will draft a new release within the next days and make the new version available on PyPI.

[2021-02-26 09:50] yigitsoy opened #41 "Supporting unknown SOPClassUID"
We are investigating the use of highdicom for converting our NIfTI segmentation outputs to DICOM SEG format. The corresponding DICOM series have some of the fields anonymised. For instance SOPClassUID.

It seems highdicom is expecting a predefined set of UIDs. Is there possibility of supporting also unknown fields as well?

Here is the error message I am getting;

[code]

[2021-02-26 13:26] seandoyle commented on #41
What are you using to anonymize this file? The SOPClassUID shouldn't be anonymized - it identifies the type of DICOM object (MR image, CT image, GSPS object, .. &etc).[List of possible UIDs](http://dicom.nema.org/dicom/2013/output/chtml/part04/sect_B.5.html). This field should not be modified by the anonymizer.

[2021-02-27 02:29] CPBridge commented on #41
Thanks for trying out highdicom!

A cornerstone of highdicom is conformance to the DICOM standard. Files without certain UIDs, including the SOPClassUID, do not conform to the DICOM standard. Therefore I don't think we would want to support this use case. Sorry.

As @seandoyle says, the SOPClassUID should correctly identify the type of the image and do not contain any patient information whatsoeve

[2021-02-27 17:46] hackermd commented on #41
I agree with @seandoyle and @CPBridge. DICOM differentiates between type 1 (required, cannot be empty), type 2 (required, can be empty) and type 3 attributes (optional). `SOPClassUID` is a type 1 attribute and a DICOM data set without that attribute (or an empty value) would not be compliant with the standard. See [Part 15 Chapter E Table E.1-1](http://dicom.nema.org/medical/dicom/current/output/c

[2021-02-27 17:46] #41 closed

[2021-02-27 18:00] yigitsoy commented on #41
Thank you for your detailed explanation and sorry for my belated response. I fully agree

[2021-02-28 02:35] CPBridge opened #45 "Simple TimePointContext constructor fails"
Trying to use the constructor for the `TimePointContext` object seems to result in an exception regardless of the input parameters.

[code]

Results in:
[code]
 I will keep thinking about it but for now this has me stumped. Any ideas appreciated.

I'm using pydicom version 2.1.2, python 3.8.7, highdicom master branch

[2021-03-01 00:55] hackermd commented on #45
@CPBridge there was just a call to `super` missing in the constructor. Created a draft pull request. Will add a couple of unit tests and then publish the PR.

[2021-03-01 01:00] CPBridge commented on #45
Ahhh of course

[2021-03-18 08:07] malaterre opened #54 "Missing documentation for LegacyConvertedEnhancedMRImage"
Thanks for providing a converted for 'CLASSIC' MR Image Storage instances.

I am confused with the documentation for using this class, here is what I did (debian/buster):

[code]

Which resulted in (truncated):

[code]

The output file is missing Private Creator for nested DataSet.

If using ExplicitVRLittleEndian, here is what I get:

[code]

Could you please add a section in the documentation on

[2021-03-18 15:48] fedorov commented on #54
@malaterre we have been working on the improvements to the legacy enhanced MF conversion functionality in #34. It is still not finished, but we are actively using and refining that PR as part of the effort to convert a subset of TCIA content into MF representation. Maybe that PR could be of interest to you as well.

[2021-03-28 21:11] CPBridge opened #56 "Highdicom allows incorrectly formatted "person name" (PN) attributes"
There are a few places where the highdicom API requests `str` parameters and directly encodes them as attributes with value representation PN (person name). This includes but (but may not be limited to) the `content_creator_name` parameter of the segmentation SOP constructor, and the `verifying_observer_name` parameter of the `EnhancedSR`, `ComprehensiveSR`, and `Comprehensive3DSR` constructors.

[2021-03-28 21:15] pieper commented on #56
For reference: https://support.dcmtk.org/docs/classDcmPersonName.html

[2021-03-29 19:18] hackermd commented on #56
I think it would be ideal if we could address that at the pydicom level. I realized that there are several issues with VRs (DS, PN, DA, etc.) and that pydicom does not enforce correct value representation.

@darcymason would you be open to changing the pydicom approach and add functionality for asserting correct value representation (max value length, set of characters, etc.)?

[2021-03-29 19:26] hackermd commented on #56
I like the approach, but would rely on [pydicom.valuerep.PersonName](https://github.com/pydicom/pydicom/blob/2119df68db1c3587e0267900e9cde330104f3039/pydicom/valuerep.py#L628) instead. Would that work?

Highdicom callables could then have `name: Union[str, pydicom.valuerep.PersonName]` and we internally store the attributes using `pydicom.valuerep.PersonName`.

@CPBridge What do you think?

[2021-03-29 20:09] darcymason commented on #56
Traditionally pydicom has avoided being overly strict because there are so many files with invalid DICOM that it causes a lot of troubles (just take a look at the issue list).  We have put some checks in place over time, though, in conjunction with the `config.enforce_valid_values` flag, which does now enforce things like valid length and values for DS, IS and a number of other things, if set to `

[2021-03-30 01:59] CPBridge commented on #56
Thanks @darcymason. I think you are right that adding checks is probably impossible because there are ambiguous cases. I like the suggestion for `from_components`and will work on a pydicom PR for this. I imagine `__str__` is sufficient as you say.

[2021-03-30 02:01] CPBridge commented on #56
@hackermd I think when a user import highdicom, we should probably set the `pydicom.config.enforce_valid_valid` to `True` to make use of the checks that do exist in pydicom. What do you think? Maybe this should do into `highdicom.__init__`?

[2021-03-30 02:28] CPBridge commented on #56
@hackermd  the problem with this approach is that checks enforcing the validity of Person Name attributes is much harder (and probably impossible) than simply forcing people to use a constructor that makes them individually specify each component. E.g. it's much easier to make sure someone doesn't enter "John Doe" when they mean "Doe^Joe" by making them pass 'John' and 'Doe' separately than it is

[2021-03-30 04:02] CPBridge opened #61 "It is possible to create qualitative evaluations with no relationship types"
I created an SR which contained qualitative evaluations, which are passed in as a sequence of `CodeContentItems` to the `qualitative_evaluations` parameter of the various SRs. I constructed these `CodeContentItems` without the `relationship_type` parameter, and highdicom did not issue any warnings or complaints. However the dciodvfy tool raises an error saying that the `RelationshipType` is requir

[2021-03-30 15:26] fedorov commented on #54
Markus, @afshinmessiah is working on revisiting the PR mentioned above. We should be able to discuss with you soon the response to your comments, and see if we can include a subset of changes. I am meeting with Afshin today, and will will discuss this topic.

[2021-03-30 22:22] hackermd commented on #54
@fedorov @malaterre by looking at the provided output, I am not sure what the problem is and whether it's a problem in highdicom or pydicom. @malaterre what happens when you just read the individual image files into pydicom datasets and write them back to disk? Does this work?

[2021-03-30 23:07] hackermd commented on #61
Hmm... That's a tricky one!

I think the parameter should definitely be optional for the base class, since there are content items that don't have a parent/target item or don't require a relationship type to be specified. I am not sure either what would be correct for the derived classes. Looking through the templates in Part16, I found several content items of value type `CONTAINER` or `NUM` that

[2021-03-30 23:53] CPBridge commented on #56
See https://github.com/pydicom/pydicom/pull/1331

[2021-03-31 00:19] hackermd commented on #56
Not sure whether this would be such a good idea. The library also provides utilities for reading data and we may not want those to fail with every compliance issue. The ideal behavior would in my opinion be restrictive upon dataset creation (writing) and permissive upon parsing (reading). It's unfortunate that this is a global variable and cannot be set for individual instances of `pydicom.dataset

[2021-03-31 00:20] CPBridge commented on #61
I think your approach of not setting it as an attribute of `ContentItem` seems right. Maybe it should be a second parameter to the `ContentSequence.append()` method? If so, we could gradually phase this in, initially overwriting any RelationshipType already present in the `ContentItem` and retiring the parameter to `ContentItem` with a deprecation warning until 1.0 and then removing entirely?

For

[2021-03-31 00:20] hackermd commented on #56
You convinced me. This is also in line with the overall approach we use throughout the library.

[2021-03-31 00:25] CPBridge commented on #56
Ah you're right, I didn't realise it would also affect files read in. That would have all sorts of unexpected knock on effects.

[2021-03-31 00:26] CPBridge commented on #56
Maybe we could enable it for tests though?

[2021-03-31 00:58] hackermd commented on #61
I have previously modeled a `ContentItem` to represent a row in a SR template and decided to add the `RelationshipType` attribute upon construction of the item (resulting in high cohesion). However, there are clear advantages to adding the attribute only when adding an item to a `ContentSequence`, where the relationship is actually established (see [C.17.3.2.4 Content Sequence and Relationship Typ

[2021-03-31 01:42] hackermd commented on #56
Damn @CPBridge! You are a DICOM pro!🥇

Thanks for your clarification.

I agree. I think we can/should be opinionated.

[2021-03-31 02:25] hackermd commented on #45
@CPBridge I added tests (and fixed additional bugs). The PR is now ready for review.

[2021-03-31 12:00] #45 closed

[2021-03-31 14:36] fedorov commented on #61
I did not find where TID 1200 is used, but [TID 300](http://dicom.nema.org/medical/dicom/current/output/chtml/part16/chapter_A.html#sect_TID_300) has similar issue. I do not think this implies that the relationship type is not required. What I believe this means is that the relationship is defined in the parent template invoking the current template. As an example, TID 300 is invoked from [TID 150

[2021-03-31 17:06] fedorov commented on #61
You should also consider running the SR validator from Pixelmed Toolkit - `DicomSRValidator.sh` in http://www.dclunie.com/pixelmed/software/index.html, which will validate content at the level of TIDs. `dciodvfy` does not do that.

[2021-04-01 08:18] malaterre commented on #54
@hackermd I believe this is related to the pydicom version I was using. Maybe `highdicom` depends on a minimal pydicom version.

[2021-04-01 15:44] hackermd commented on #61
Alright. Let's do it via the phase approach you proposed:

- Keep `relationship_type` as an optional parameter of `ContentItem.__init__()` (and derived classes) and add deprecation warning that this parameter will be removed in a future version.
- Add `relationship_type`as a parameter to `ContentSequence.append()`, making it optional for now and issue a warning that the attribute will be required

[2021-04-01 15:51] hackermd commented on #56
For [dicomweb_client.uri.URI](https://github.com/MGHComputationalPathology/dicomweb-client/blob/0ea37db68a2b9c8373c964e610acea945b7b07b7/src/dicomweb_client/uri.py#L65) we called it `permissive` (`False` by default). Given that we need the opposite logic here, shall we call it `strict`?

It would then look as follows:

[code]

[2021-04-01 16:29] dclunie commented on #61
I dont have suggestions about the API as long as when serialized a value for Relationship Type is always supplied, so that invalid objects are not be created ... see http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_C.17.3.2.4.html <http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_C.17.3.2.4.html>

I.e., at some point it needs to be required, not optional.

O

[2021-04-01 18:08] darcymason commented on #56
I'm trying to remember - I know the term 'strict' came up before and we decided not to use that for some reason.  Perhaps because it is vague - e.g. could be interpreted as ensuring that all required data elements are present, for example.  However, I do like it for being short and reasonably intuitive - that or a similar term is what I would expect if I was learning a library.

I'd say go ahead w

[2021-04-01 18:42] hackermd commented on #56
Great! We can further brainstorm about potential names in the meantime. I agree that we will be able to change the variable name easily and I like your idea of using a more specific name. We could use `assert_vr` or something along this line.

[2021-04-01 18:43] hackermd commented on #61
@dclunie thanks for clarification!

[2021-04-02 22:50] CPBridge opened #62 "Should inclusion of referenced images in PertinentOtherEvidenceSequence be enforced?"
It is my understanding that the PertinentOtherEvidenceSequence should contain all instances referenced anywhere in the content tree, and failing to do so would technically be non-compliant. See [sect_C.17.2.3](http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_C.17.2.3.html#sect_C.17.2.3)

When constructing an SR object, highdicom has all the available information to ensure that

[2021-04-04 22:11] hackermd commented on #62
Good catch!

There are several aspects:

1. Recording all evidence that is referenced in the content tree.
2. Extracting the relevant information automatically from items contained in `ContentSequence` or from the passed `evidence`.
3. Deciding whether the evidence should go into `CurrentRequestedProcedureEvidenceSequence` or `PertinentOtherEvidenceSequence`.

We should be able to determine all ev

[2021-04-04 22:11] hackermd commented on #62
I just realized that we probably incorrectly include references for the instances in `evidence` in `PertinentOtherEvidenceSequence`, but should rather include them in `CurrentRequestedProcedureEvidenceSequence`. See [Current Requested Procedure Evidence Sequence](http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_C.17.2.html#para_32fb8faf-1992-4589-95b9-589193c28f58):

[2021-04-04 22:53] CPBridge commented on #62
I was wondering about that too. I think that's probably more correct but I'm not sure it's 100% right either. The entry for PertinentOtherEvidenceSequence reads

So I think the deciding factor is whether the evidence is part of the same Request Procedure as the SR or not, and I don't know how this relates to Study. I'm not completely sure on the definition of Requested Procedure, but what if somet

[2021-04-05 15:05] hackermd commented on #62
Excellent questions! I don't know to be honest. It would be worth discussing with @dclunie, @seandoyle, @fedorov and @pieper.

[2021-04-05 15:31] pieper commented on #62
Yes, very important things to sort out.  I don't know the exact answer but I think you are on the right track and would be glad to discuss.

[2021-04-07 22:25] CPBridge commented on #56
My PR to add the functionality to construct PersonNames has now been merged into pydicom master branch: https://github.com/pydicom/pydicom/pull/1331 and will be in the next release of pydicom (looks like this will be 2.2.0). Leaving this issue open to figure out the best way to integrate this into highdicom

[2021-05-19 13:05] seandoyle opened #73 "SR templates do not support Image Library"
Highdicom doesn't have support for TID 1604 (Image Library). This would be useful for encoding imaging attributes (imaging orientation, slice thickness, pixel spacing) for clients interpreting Comprehensive 2D SRs before the source image SOPInstances were retrieved.

[2021-05-19 13:12] hackermd commented on #73
@seandoyle that's already underway with #69 (see [highdicom.sr.ImageLibraryEntry](https://github.com/MGHComputationalPathology/highdicom/blob/0be93c3a7889177b75bd98f701dee07b59625060/src/highdicom/sr/templates.py#L3296-L3431)).
Note that I did not implement the modality-specific templates, but instead enable the caller to add the content items via the `descriptors` parameter. I would appreciate if

[2021-05-19 13:16] seandoyle commented on #73
@hackermd Gladly!

[2021-06-01 01:12] CPBridge commented on #62
This issue was closed by #67

[2021-06-01 01:12] #62 closed

[2021-06-01 04:35] CPBridge commented on #61
Revisiting this stale thread in the hope of resolving soon...

Several weeks ago I spent a while working on implementing the solution proposed above, before getting disillusioned with it and then getting distracted by shinier things. You can see my aborted progress on the `refactor_content_sequence_relationships` branch if you are curious.

I now believe that the solution proposed above (moving re

[2021-06-01 12:26] hackermd opened #76 "Content item for Person Observer Name in template Person Observer Identifying Attributes has wrong value type"
I just realized that [Person Observer Name](http://dicom.nema.org/medical/dicom/current/output/chtml/part16/chapter_A.html#para_3d762f92-f577-429e-9fa5-3c4f635bd9f4) is currently incorrectly encoded using `TextContentItem` instead of `PnameContentItem` (see [highdicom.sr.templates.PersonObserverIdentifyingAttributes](https://github.com/MGHComputationalPathology/highdicom/blob/b378a20a23a62a55ef261

[2021-06-01 13:41] fedorov commented on #76
I came across this too, and thought that I am doing something incorrectly!

[2021-06-01 14:02] hackermd commented on #61
I like the idea of introducing `highdicom.sr.content.QualitativeEvaluation`. To me, a "qualitative evaluation" is a content item of value type CODE that represents a categorical feature when compared to a "measurement", which is a content item of value type NUM that represents a discrete or continuous feature.

[2021-06-01 15:44] CPBridge commented on #76
Resolved in #75

[2021-06-03 12:48] #56 closed

[2021-06-03 12:48] #76 closed

[2021-06-03 12:57] hackermd opened #78 "Documentation of None type for optional parameters"
Currently, the `None` type is omitted from type annotations in the docstrings.

As discussed in https://github.com/MGHComputationalPathology/highdicom/pull/75#discussion_r643935439, we should consistently use `Union[..., None], optional` to clearly indicate that `None` is a valid option for these parameters.

[code]

[2021-06-03 14:17] seandoyle commented on #73
One thing I found confusing about the API is the structure of the array of ImageLibraryEntry objects. It's an array of an array of `ImageLibraryEntry`. Initially I had specified an array of the following sort:
`[[ImageLibraryEntry, ImageLibraryEntry, ...]]` for 91 entries. This worked fine in the code - but the pixelmed validator generated the following error:
`Error: Template 1602 ImageLibraryEnt

[2021-06-03 17:00] hackermd commented on #73
I think I have implemented the template incorrectly. [TID 1600 Image Library](http://dicom.nema.org/medical/dicom/current/output/chtml/part16/chapter_A.html#sect_TID_1600) contains 1-n "Image Library Group" content items of value type CONTAINER, each containing 1-n content items of value type IMAGE ([TID 1601 Image Library Entry](http://dicom.nema.org/medical/dicom/current/output/chtml/part16/chap

[2021-06-03 17:02] hackermd commented on #73
@seandoyle we could now implement subclasses of `ImageLibraryEntryDescriptors` for specific imaging modalities (TID 160{3-7}).

[2021-06-03 17:04] hackermd commented on #73
I am not sure whether we should implement TID 1602 Image Library Entry or whether we should omit this for now and only support descriptions of groups of images. The row is optional so I don't see any problems from a standard perspective. @seandoyle @CPBridge @fedorov @dclunie @pieper what are your thoughts on this?

[2021-06-03 17:19] fedorov commented on #73
I thought I understood it in the past, but I don't anymore, as I was looking at the TIDs. It appears that it would be valid to have Image library container that has descriptors only, and no references to the actual images, which I am not sure is particularly useful.

To answer your question Markus - yes, it appears to be valid to only implement [TID 1602 Image Library Entry Descriptors](http://dic

[2021-06-03 17:31] seandoyle commented on #73
@hackermd - Yes - this works in the sense that it passes the pixelmed validator. Thanks!

@fedorov - I agree that it looks like TID 1601 isn't required and that it doesn't make sense to exclude it. This is the only way to get the SOPInstances matched up with the descriptors from TID 1602.

[2021-06-03 18:07] hackermd commented on #73
Ok. Thanks @fedorov and @seandoyle. If I understand it correctly, the group-level descriptors are intended to provide attributes that are common to the collection of image instances and TID 1601 Image Library Entry would provide the image-level descriptors that are unique to individual image instances.

@seandoyle do you want to take a shot at implementing `ImageLibraryEntry`?

The constructor of

[2021-06-03 18:10] fedorov commented on #73
Correct, but there is another major difference between 1601 and 1602: the former requires M to be present, the latter does not include IMAGE even as optional. With 1602 you describe the descriptors, but are allowed to omit the images those correspond to.

[2021-06-03 18:38] seandoyle commented on #73
@hackermd Sure - I'll give it a try tonight.

I'm finding this very odd - the reason I want to use the image library descriptors is so I can store specific image attributes (slice thickness &etc) in the SR.  The axial and sagittal views have different attributes but share the same FrameOfReferenceUID.  Without sending the SOPInstanceUIDs it's going to have limited usefulness.

[2021-06-03 18:45] seandoyle commented on #73
This would certainly simplify the code that is using highdicom.  To avoid a lot of conditional logic (and standardize the SR creation) should we assume that all of the optional entries in 1602, 1603, 1604 are included? Should I include 1605-1607 for this issue? I'd like to leave them for the next iteration and see how this looks first.

[2021-06-03 21:22] hackermd commented on #73
Yeah, I thought we could either include all optional content items or an opinionated subject for each of the provided images.

[2021-06-03 22:03] fedorov opened #79 "Should PixelOriginInterpetation be required?"
PixelOriginInterpetation is only required for Whole slide microscopy, see https://dicom.innolitics.com/ciods/extensible-sr/sr-document-content/00480301, but highdicom essentially makes it Type 1.

The problem with this is when defining region of interest for non-WSI images. It is not clear what is the meaning of VOLUME PixelInterpretationOrigin for CT, for example, since Total Pixel Matrix Origin

[2021-06-03 23:14] hackermd commented on #79
Thanks for reporting this issue @fedorov. I am not sure whether including the attribute independent of the SOP class should be considered wrong, since the standard says that it "may be present otherwise". However, the default value should probably be FRAME rather than VOLUME, which would be semantically equivalent to the attribute not being present.

I would also be fine with not including the att

[2021-06-04 01:03] hackermd commented on #79
This will also require modifying `ScoordContentItem`. The fact that Pixel Origin Interpretation is a 1C attribute is unfortunate. To me, it's generally a bad idea to have a condition in module/macro that depends on context outside of its scope, since it significantly complicates implementation.

[2021-06-04 01:27] hackermd commented on #79
@fedorov should be fixed with 81e3cb7b7e51d6c6c3b07fbf43ca9eb96bee1b94

[2021-06-04 02:37] fedorov commented on #79
Thank you Markus for addressing this so quickly! You fixed this before I could even look into how to propose a fix myself.

[2021-06-07 15:19] cgorman opened #81 "Creating segmentation is slow when using a large number of segments"
Spoke with @hackermd about this earlier. I am trying to save a feature vector for each frame of a SM image as a segmentation which ends up creating 1024 segments. I pinned the slowness down to [these lines](https://github.com/MGHComputationalPathology/highdicom/blob/1a904e58bc3685eef190e626a0052a21831d8168/src/highdicom/utils.py#L213-L232).

[2021-06-07 16:49] hackermd commented on #81
Thanks @cgorman for reporting the issue. It should be fixed (i.e., the performance should be improved) by 9d0210b397640559408fc675d667414bf3b68f83

[2021-06-07 19:10] #81 closed

[2021-06-16 19:38] #61 closed

[2021-07-02 17:44] CPBridge opened #86 "Iter segments does not function properly when there is a single frame in a segmentation image"
This is because pydicom.Dataset.pixel_array returns a 2D rather than 3D array in this case. As a result, iter_segments ends up iterating through the rows of the single frame

[2021-07-04 04:14] #79 closed

[2021-07-06 17:35] #86 closed

[2021-07-22 23:08] CPBridge opened #91 "JPEG2000Lossless Compression not working for Segmentations"
I'm getting

[code]
when trying to create fractional segmentation images with `transfer_syntax_uid=JPEG2000Lossless`

[2021-07-23 02:34] CPBridge commented on #30
This seems to have silently resolved itself...

[2021-07-23 02:34] #30 closed

[2021-07-27 09:19] malaterre commented on #54
I can reproduce the issue with 0.7.0 today:

[code]

[2021-07-28 15:18] malaterre opened #94 "The new Composite Instance shall contain the Contributing Equipment Sequence (0018,A001)."
I believe some part of the standard have not yet been implemented in the classic to enhanced conversion step:

* http://dicom.nema.org/medical/dicom/current/output/chtml/part04/sect_C.3.5.html

[2021-07-30 21:50] CPBridge commented on #94
Hi @malaterre, thanks a lot for reporting this issue.

Unfortunately the Legacy Conversion part of the library has not got much love recently. There are known shortcomings and a long-standing PR (#34) that should greatly improve this part of the library, kindly contributed by @afshinmessiah, but it needs a little work from the core developers and we have unfortunately had other priorities over the

[2021-08-12 12:39] DrexlerChao opened #98 "High DICOM and Supplement 222 Microscopy Bulk Simple Annotations Storage SOP Class"
Dear Sir,

As we know, the High DICOM support
1. Creating Segmentation (SEG) images
2. Parsing Segmentation (SEG) images
3. Creating Structured Report (SR) documents
4. Parsing Structured Report (SR) documents

But we are not sure whether High DICOM can support Supplement 222 Microscopy Bulk Simple Annotations Storage SOP Class.

This Supplement to the DICOM Standard specifies a new DICOM Informat

[2021-08-12 12:53] hackermd commented on #98
Yes, it's on the roadmap. We'll work on it once parsing of SEG and SR instances is finalized (#93).

[2021-08-20 11:45] a-parida12 opened #99 "Is it possible to create a dicomseg for a DX?"
I am trying to save the segmentation of a CXR as a dicomseg.
[code]

Even though I am using a proper `DX` dcm. I am getting errors where it says some fields like `StudyID`, `SliceThickness` and `PixelSpacing` are missing in the `source_image`. Is it possible to skip the missing fields? or is there a better way to handle such scenarios?

[2021-08-20 14:03] hackermd commented on #99
Thanks @a-parida12 for your interest in the library and for reporting the issue.

The *Slice Thickness* and *Pixel Spacing* attributes are required for creation of a Segmentation instance (see [Pixel Measures Macro Attributes](http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_C.7.6.16.2.html#sect_C.7.6.16.2.1)).

Interestingly, the *Pixel Spacing* attribute has type 1C in case o

[2021-09-08 13:44] hackermd commented on #99
Closing the issue due to inactivity.

[2021-09-08 13:44] #99 closed

[2021-09-08 13:51] hackermd opened #101 "Segmentation objects lack attributes for image orientation and position"
Segmentation objects created by the library currently lack the following attributes:

1. Image Orientation Slide
2. Total Pixel Matrix Origin Sequence

which are needed to uniquely localize a segmentation image of a slide microscopy image within the slide-based coordinate system and are required by the standard (see [Segmentation Image Module](dicom.nema.org/medical/dicom/current/output/chtml/part

[2021-09-10 15:24] malaterre commented on #54
@hackermd The issue is right here:

[code]

So typical Private Creator (eg. `(0009,0012) LO [SIEMENS CM VA0  CMS]                    #  20, 1 PrivateCreator`), only end up in `unassigned_shared_ca_item` (obviously). I suspect changing it to (pseudo code):

        if len(unique_values) == 1:
            unassigned_shared_ca_item.add(dataelements[0])
        else:
            for i, da in enumerate

[2021-09-13 08:24] malaterre commented on #54
Documented at:

* http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_C.7.6.16.2.html#sect_C.7.6.16.2.25

[2021-09-14 06:58] erikogabrielsson opened #106 "Not able to create ContentSequence"
Hi,
Im using highdicom 0.9.0 to create a SpecimenDescription. When I try to create SpecimenCollection, SpecimenStaining, or SpecimenSampling ContentSequences for a SpecimenPreparationStep:
[code]
I get the following error (similar for SpecimenStaining and SpecimenCollection):
[code]
The same error appears in 0.8.0 but not in 0.7.0.

[2021-09-14 15:56] hackermd commented on #61
@CPBridge and I just realized that content items may not specify a relationship type because according to DICOM [PS 3.16 6.1.3 Relationship With Source Content Item](http://dicom.nema.org/medical/dicom/current/output/chtml/part16/chapter_6.html#sect_6.1.3)

[2021-09-14 16:59] hackermd commented on #106
Thanks for reporting the issue @erikogabrielsson. Unfortunately, this bug slipped in during recent refactoring. Should be fixed with #107.

[2021-09-14 20:04] #106 closed

[2021-09-14 21:22] hackermd commented on #106
Fix is available with [release v0.9.1](https://github.com/MGHComputationalPathology/highdicom/releases/tag/v0.9.1) and the new package version is available on pypi: https://pypi.org/project/highdicom/0.9.1

[2021-10-05 12:49] #101 closed

[2021-10-06 09:00] benarnon8 opened #117 "Wrong Segmentation Slices Position"
I'm writing a script to attach AI made lesion segmentations to existing DICOM files (It's my first time that I dive so deep into DICOM, so I might have missed something).

I have found your repository and used `hd.seg.Segmentation`, but unfortunately the order of the segmentation slices was incorrect.

First I tried to use just a dummy segmentation (simple 3D box over an MRI), and after encounteri

[2021-10-06 10:06] hackermd commented on #117
Thanks for reporting the issue @benarnon8!

I will need to take a closer look, but am wondering whether you also tried setting `plane_positions` explicitly? The documentation of the `Segmentation` constructor states (see [highdicom.seg.Segmentation](https://highdicom.readthedocs.io/en/latest/package.html#highdicom.seg.Segmentation)):

Are you sure that your approach of setting individual planes in

[2021-10-06 10:08] hackermd commented on #117
I assigned @CPBridge who has extensive experience in creating segmentations of CT images.

[2021-10-06 10:59] benarnon8 commented on #117
I didn't manage to define it properly, also tried with `get_plane_positions_of_series` but my arguments were incorrect. Could you maybe show me an example for that?

The locations and order of the "slices" of the mask are correct, that what I checked with the first output as the complete CT scan is from -568.5mm to -140.5mm.
If you ask about the concept then I'm not sure, I saw in your example tha

[2021-10-06 12:18] hackermd commented on #117
You will need to create an instance of `highdicom.PlanePositionSequence` for each segmentation image plane (`mask.shape[0]`):

[code]

[2021-10-06 12:54] benarnon8 commented on #117
Thanks, I'm on it and will update you if it works.

Meanwhile I've found out that the original image list is not ordered, and the locations where the segmentation should be are corresponding to the wrong positions that I got:

[code]
[code]

I'll try to write a function that orders the input scans anyway, as I think it'll be helpful and foolproof so users will not have to double check.

[2021-10-06 13:09] CPBridge commented on #117
Hi @benarnon8, thanks for using the library and for taking the time to write a nice bug report. I am open minded to their being a bug in the library but I want to eliminate a few other possibilities first. Unfortunately the order of frames within the segmentation images is much more complicated than you might initially think. This is because the standard also supports things like slide microscopy

[2021-10-06 13:19] CPBridge commented on #117
In fact, this is already what the constructor does (my step 1 above is just to be on the safe side and eliminate a further source of confusion). However there is a big caveat: the order of the frames in the `pixel_array` parameter to the `Segmentation` constructor *must match* the order of instances in the `source_images` parameter. Unfortunately, I think this is the only sane way to do this, cons

[2021-10-06 14:42] benarnon8 commented on #117
So I managed to solve it, not ideal and foolproof, but it handles to source of the issue.

To collect the source files I used `glob`, which collects according to the arbitrary-looking filesystem appearance ([source](https://stackoverflow.com/questions/6773584/how-is-pythons-glob-glob-ordered)).

It was solved using `sorted` and `reverse`:
`image_files = sorted(series_dir.glob("*"), reverse=True)`

[2021-10-06 14:47] #117 closed, assigned to CPBridge

[2021-10-06 14:56] CPBridge commented on #117
Glad it's working @benarnon8 ! I would recommend ordering spatially using a function like I did because filesystem globbing is bound to break at some point.

To be clear for those who may stumble across this issue in the future: you can currently (highdicom 0.10.0) pass the source images and corresponding mask frames in *any order* and the constructor will sort this all out for you. They do not ne

[2021-10-06 15:19] benarnon8 commented on #117
My motivation is to combine volumetric MRI scan that I get from a radiologist as a DICOM file, with an AI generated segmentation (let's say as np.array).
So the main issue is that I can't easily align them or change the mask/source without getting the z-axis position, and that's the reason I want to still implement an automated solution that is independent of the file order.
The ordering function

[2021-10-11 11:40] hackermd opened #120 "Prevent inclusion of empty Content Sequence attribute in SR content items"
Upon construction of some content items, we first add an empty `ContentSequence` to the object and then later append individual items to it. If, however, for some reason no items get subsequently added, the `ContentSequence` attribute remains empty, which is not allowed by the standard.

[2021-10-11 17:04] #120 closed, assigned to hackermd

[2021-10-15 17:20] cgorman opened #122 "Allow for Real World Value Mapping as a Shared Functional Group for Parametric Map IOD"
I think if the user passes in either a single RWVM instance in the parametric map constructor, or passes a sequence with a single RWVM, we should add it to the Shared Functional Groups Sequence rather than forcing them into the Per-frame sequence.

@hackermd  I can take care of this if you would like, let me know.

[2021-10-15 22:34] #91 closed

[2021-10-20 13:24] seandoyle opened #124 "How do I enter free text in a TID 1501?"
In row 12 of [TID 1501](http://dicom.nema.org/medical/dicom/current/output/chtml/part16/chapter_A.html#sect_TID_1501) it appears that text entries can be added to the object; the Content Item Description for this line states `Allows encoding a flat list of name-value pairs that are coded questions with coded or text answers, for example, to record categorical observations related to the subject of

[2021-10-20 15:32] hackermd commented on #124
Yes, @CPBridge is right. I wanted to strongly discourage the use of free text for qualitative evaluations.

[2021-10-20 15:47] seandoyle commented on #124
Thanks - I agree in general with discouraging free text but the app that I'm creating permits radiologists to enter text (this is their requirement) and don't want to generate a second data object for capturing their output. I'll try @CPBridge's approach and validate it with the pixelmed SR validator.

[2021-10-20 22:34] hackermd commented on #124
I have only really considered automated systems, which need to choose terms from a predefined terminology. This may be different for user interfaces, which need to handle arbitrary user input.

[2021-10-20 22:36] hackermd commented on #124
We could call those TEXT content items "descriptions" rather than "evaluations" and add a `descriptions` parameter to the constructor as well as a corresponding `get_descriptions` method to the class.

[2021-10-21 21:36] CPBridge opened #126 "Set up doctests to catch errors in the examples"
Various mistakes have been found in the user guide examples. Examples that don't work are very offputting for new users. We should set up automatic testing of the documentation examples to ensure they run correctly.

[2021-10-25 19:51] hackermd opened #129 "Malformed values of Content Label attribute"
The Content Label attribute has Value Representation CS, which is restricted to `[A-Z_0-9]` characters. This is currently implemented incorrectly in _highdicom_. In addition, _pydicom_ doesn't complain if the value is not valid. Therefore, we will need to perform additional checks to ensure the values are valid.

[2021-11-05 17:48] #129 closed

[2021-11-12 23:11] cgorman opened #135 "Segmentation TotalPixelMatrixRows/Columns are being saved as `float`"
When constructing a Segmentation object I hit [this block](https://github.com/MGHComputationalPathology/highdicom/blob/d16ce415b5ae40afac8f395a0d8a86ac851898c6/src/highdicom/seg/sop.py#L550-L581) which results in a Segmentation object with non-integer TotalPixelMatrixRows and TotalPixelMatrixColumns.

`plane_position_values[last_frame_index]` is `array([[ 1.        ,  1.        , 18.719027  , 53.5

[2021-11-12 23:11] cgorman commented on #135
@hackermd We can probably look at this on Monday, I just didn't want to lose track of it before the weekend

[2021-11-13 04:49] hackermd commented on #135
Oh...it seems we cannot directly use the index returned by [DimensionIndexSequence.get_index_position()](https://github.com/MGHComputationalPathology/highdicom/blob/d16ce415b5ae40afac8f395a0d8a86ac851898c6/src/highdicom/seg/content.py#L513), because the index values returned by [DimensionIndexSequence.get_index_values()](https://github.com/MGHComputationalPathology/highdicom/blob/d16ce415b5ae40afa

[2021-11-16 16:21] CPBridge commented on #135
While tempting, I think the knock-on effects of changing the return value of DimensionIndexSequence.get_index_values() would be a little complicated (I believe it would also require that the segment number if passed to get_index_values, which would change its signature). So I think I favour simply adjusting the indices

[2021-11-16 16:27] hackermd commented on #135
Should we consider changing `get_index_position` to also omit the first index for Segment Number?

[2021-11-16 16:37] CPBridge opened #136 "Checks that values satisfy requirements of the VR"
This has been discussed before (e.g. [here](https://github.com/MGHComputationalPathology/highdicom/pull/130#discussion_r737957633)) but we should have an issue to track it.

Pydicom is very loose in what it allows you to set as an attribute's value, even when you have the global configuration option `pydicom.config.enforce_valid_values` set to `True`. We have previously encountered and resolved th

[2021-11-16 18:20] hackermd commented on #136
See also https://github.com/pydicom/pydicom/issues/1414

[2021-11-16 18:23] hackermd commented on #136
We should avoid the global configuration as much as possible. My preferred approach would be to add a parameter to the constructor of `Dataset` and friends (`Sequence`, etc.) such as `enforce_valid_vr`. That should allow us to enforce correct encoding when creating new objects while potentially allowing some invalid values when reading existing objects.

[2021-11-30 22:30] hackermd commented on #135
@cgorman @CPBridge I approached it differently and introduced a `get_index_keywords()` method, which returns the keywords (names) of indexed attributes that specify the spatial position of planes (matching the return value of `get_index_values()`). It's not ideal, but the best I could come up with without breaking the API (see 48bdf446e4bc7d29873d8726863b0ffefc6a7ede). I also clarified what values

[2022-01-20 07:36] DrexlerChao opened #144 "Integrate highdicom w/ DICOM web viewer"
Dear Sir,

The highdicom provides powerful DICOM SR and annotations API. But it seems to require integration with DICOM viewer.

As far as we know, Slim viewer doesn't include highdicom python package, correct? But it can generate corresponding annotations and SRs. Would you mind if I ask why Slim is not developed in python and then uses the highdicom package?

If we use the highdicom kit to devel

[2022-01-24 17:42] hackermd commented on #144
highdicom and Slim have been designed to serve two different purposes:

- *highdicom* is a library to encode/decode machine-generated image annotations and analysis results in DICOM format. Since most researchers and developers use Python to develop image analysis and machine learning solutions, *highdicom* has been implemented in the Python programming language.
- *Slim* is a single-page web appl

[2022-01-25 01:55] DrexlerChao commented on #144
Hi @hackermd

Thank you very much for your detailed and clear explanation.

[2022-01-25 07:37] elamathis18 opened #145 "Unable to import highdicom in Mac"
Hi,

I'm unable to import highdicom after the installation. Here are some logs.
[code]

[code]

**Note**: I tried completely uninstalling and installing the package but the problem persists.

[2022-01-25 15:56] #144 closed

[2022-01-26 14:40] CPBridge commented on #145
Sorry about your issue and thanks for reporting it. It appears that this issue is nothing to do with highdicom (which is a pure Python library). In fact the import is failing on the line `import pillow_jpls`. I will try to reproduce your issue soon, but in the meantime you might like to test whether you can `import pillow_jpls` outside of highdicom but in your environment and, if you can't, open a

[2022-01-26 19:01] CPBridge commented on #145
I am unable to reproduce this issue on my mac (11.6 Big Sur) using Python 3.8.9 installed through pyenv and the same list of packages as the OP installed in a fresh virtualenv (through pyenv-virtualenv). Everything imports correctly as expected.

We would probably need more information about the OP's environment to debug

[2022-02-03 15:16] CPBridge commented on #145
I have now come across related issues a few times myself concerning the openjpeg import. To anyone who has this problem my recommendations are:

- Start with a fresh python environment (e.g. a new virtualenv if possible)
- Make sure pip is updated to the latest version in your environment
- Reinstall highdicom and all other packages

I'll leave this open for a little longer in case @elamathis18 ha

[2022-02-03 15:34] hackermd commented on #145
Thanks @CPBridge for sharing the insight.

Since these libraries are causing issues upon installation on certain platforms/environments, I am wondering whether we should make them optional. They are only required to encode/decode data using specific transfer syntaxes and many users won't need them. When a user attempts to encode/decode data with a transfer syntax that would require one of these li

[2022-02-04 15:44] CPBridge commented on #145
I think it's an option we should bear in mind, but I also don't want to overreact to an issue that hopefully will stabilise as these packages mature. I think we should continue to monitor and see whether similar issues continue to occur

[2022-02-14 20:50] cgorman opened #148 "`utils.compute_plane_position_tiled_full()` raises `ValueError: got an unexpected keyword argument 'coordinate'`"
It looks like the above method calls `spatial.map_pixel_into_coordinate_system()` with its outdated function signature.

https://github.com/MGHComputationalPathology/highdicom/blob/50467bb6b75a001e43d6963bab5d16c8ac6f0a01/src/highdicom/utils.py#L136-L141

It appears that there are a number of failed tests with the same issue.

[2022-02-14 23:54] #148 closed

[2022-02-25 03:08] CPBridge commented on #145
Closing this issue due to lack of activity

[2022-02-25 03:08] #145 closed

[2022-02-25 12:09] erikogabrielsson opened #155 "Attributes 'DICOMPrefix' 'FilePreamble' when initiating SOPClass"
Hi,

Highdicom sets the attribute 'DICOMPrefix' and 'FilePreamble' which is not in the pydicom dicom directory. This results in a warning by default or an exception if pydicom config.INVALID_KEYWORD_BEHAVIOR = "RAISE". I dont think you need to set those attributes as they are written by pydicoms dcmwrite?

[2022-02-25 13:55] hackermd commented on #155
Good catch @erikogabrielsson. The behavior recently changed with the introduction of `pydicom.dataset.FileMetaDataset`. Do you want to send a PR?

[2022-03-08 13:13] KarolBorkowski opened #159 "Segmentation not working for 2D X-ray mammography DICOMs"
Generation of Segmentation (SEG) images doesn't work for mammography images due to required tags that are optional and usually not present. In particular: FrameOfReferenceUID, SliceThicknes, ImageOrientationPatient and ImagePositionPatient. I'm attaching an exemplary mammography DICOM file.

Thanks for considering it!

[test_dicom.zip](https://github.com/herrmannlab/highdicom/files/8206443/test_di

[2022-03-08 16:57] hackermd commented on #159
Thank @KarolBorkowski for reporting the issue and for providing a test file.

You may be able to create a `Segmentation` instance by providing `pixel_measures` to the constructor (see also https://github.com/herrmannlab/highdicom/issues/99).

[2022-03-08 17:25] KarolBorkowski commented on #159
pixel_measures is not enough since the rest of the listed tags is missing too. When I set them to some random values, the instance is generated, but I wonder how are this values used by dicom viewers and if it's safe to use any values.

[2022-03-08 19:23] fedorov commented on #159
I am not sure if anyone used SEG with X-Ray images. It is not impossible that there are some gaps or incorrect assumptions in the standard to support this use case. I want to make sure @dclunie is aware of this conversation to comment on the issues you are observing.

[2022-03-08 19:46] CPBridge commented on #159
I have never tried this myself. I had a very brief initial look into this and I do not yet have reason to believe that there are inconsistencies in the standard itself although it is certainly the case that we did not consider the case where the frame of reference uid (and hence the other attributes) are missing when we wrote the segmentation implementation. We can (and should) look into this but

[2022-03-09 18:02] hackermd opened #160 "Update import of storage class UIDs"
In the next pydicom release, storage class UIDs will become importable from `pydicom.uid` (see https://github.com/pydicom/pydicom/blob/master/pydicom/_storage_sopclass_uids.py) and the private `_storage_class_uid.py` module will be deprecated. We should consider updating highdicom once pydicom 2.3 is out.

[2022-03-30 03:29] CPBridge opened #162 "Pydicom 2.3.0 breaks highdicom"
Latest release of pydicom is causing several tests to fail. At first glance all errors appear to be related to a new behaviour for handling multivalues. It may be difficult to support versions both sides of the change. We may want to disallow 2.3.0 as an interim measure

[2022-03-30 21:49] fedorov commented on #160
It's tangentially related, and I apologize for the distraction, but do you guys know:
1) what is the process that keeps UIDs in `pydicom.uid` in sync with the standard?
2) why there is no equivalent for `uid.AllTransferSyntaxes` for storage SOP classes?

[2022-03-31 13:16] #162 closed

[2022-04-02 03:15] fedorov opened #164 "Support of image-level qualitative evaluation in TID 1501"
TID 1501 allows to capture qualitative evaluations assigned per image (without specifying any annotation) - see rows 10b/11b in https://dicom.nema.org/medical/dicom/current/output/chtml/part16/chapter_A.html#sect_TID_1501.

This does not appear to be possible using highdicom - I don't see how I could specify image in the constructor of TID1501: https://github.com/herrmannlab/highdicom/blob/master/

[2022-04-02 15:41] CPBridge commented on #159
I have started a branch to address this issue, but unfortunately it's not so straightforward...

Currently highdicom uses a fixed list of Dimension Index Pointers (that describe the organization of the frames within the segmentation) depending on the coordinate system. For segmentations of images in the PATIENT coordinate system, this is:

- SegmentNumber
- ImagePositionPatient

For segmentations

[2022-04-02 21:29] hackermd commented on #159
Thanks @CPBridge. I don't really have a lot of experience with handling of X-ray images (or other images that lack a frame of reference), and defer to @fedorov's and @dclunie's expertise. Naively, I would assume that these images are always single-frame images and no additional dimension index would be needed.

[2022-04-02 21:34] CPBridge commented on #160
This was addressed in #163, closing

[2022-04-02 21:34] #160 closed

[2022-04-02 21:34] CPBridge commented on #155
@hackermd we fixed this didn't we? Can we close the issue?

[2022-04-02 21:35] CPBridge commented on #136
A note here that pydicom 2.3.0 has a lot of new functionality to help us here, we just need to figure out how to best make use of it

[2022-04-02 21:46] hackermd commented on #164
We have assumed so far that measurements and qualitative evaluations provided via TID 1501 would apply to all images referenced in the SR document via either the Current Requested Procedure Evidence Sequence or the Pertinent Other Evidence Sequence.

We explicitly did not allow users to reference a SCOORD (row 10c) or SCOORD3D (row 10e) content item via TID 1501 (`highdicom.sr.MeasurementsAndQuali

[2022-04-02 21:54] hackermd commented on #155
Indeed! We fixed this via #156 and it was included in release [0.15.1](https://github.com/herrmannlab/highdicom/releases/tag/v0.15.1)

[2022-04-02 21:54] #155 closed

[2022-04-02 21:58] CPBridge commented on #164
I've actually wondered about this myself in the past but didn't notice that this was an option in the template. I would vote strongly in favour of adding this (for IMAGE at least, I agree that other TIDs should be used for ROIs). It would be relatively straightforward. It would also be nice to make this searchable in the deocding API via an additional option in `MeasurementReport.get_image_measure

[2022-04-02 22:34] CPBridge commented on #126
Doctests has been set up in #165 to catch errors in docstrings.

However this does not catch errors in the RST examples, so leaving this open

[2022-04-02 23:02] fedorov commented on #164
Thank you guys, this is very helpful. Indeed, this is a for a very specific immediate need use case to encode the results produced by this tool: https://github.com/mic-dkfz/bodypartregression. But it will also be applicable for this one that's also relevant to IDC: https://wiki.cancerimagingarchive.net/pages/viewpage.action?pageId=80969742 (image-level COVID findings).

[2022-04-08 22:02] CPBridge commented on #159
Thanks @fedorov! I think the parts relating to the geometric attributes are fairly clear, but any further clarification about the dimension organization would be appreciated. Based on the feedback I have so far I will just go with the Segment Number dimension alone when there is no FrameOfReferenceUID in the input image, and also disallow passing more than one source image in this case.

[2022-04-09 15:34] dclunie commented on #159
Short version: SegmentNumber (at least)

TL;DNR:

**From the perspective of the creator:**

To establish the mapping between Segmentation objects (SEG) frames and referenced image frames, in the absence of a Frame of Reference (FoR), one needs to specify the frame-specific references in DerivationImageSequence.

It is those frame-specific references that a SEG recipient will use to establish the m

[2022-04-22 17:55] CPBridge opened #167 "Add better support for segmented LUTs"
#139 added support for segmented LUTs in presentation states, however the user is left to themselves to construct valid lut data, which is not straightforward.

We should provide utility methods or alternative constructor to allow users to construct LUTs in a more intuitive way

[2022-04-22 17:57] CPBridge opened #168 "Change `ParametricMap` to use new `VOILUTTransformation` class"
Unify the API of the `ParametricMap` class with the presentation state SOPClasses by having the user provide a `VOILUTTransformation` object to the constructor. This is a backward incompatible change

[2022-04-22 18:05] hackermd commented on #168
What do you think about adding the`voi_lut_transformation: Optional[VOILUTTransformation]` parameter and including a deprecation warning for `window_width` and `window_center`? That would make it easier to deprecate the parameters in a future version.

[2022-04-22 18:07] hackermd commented on #167
I generally agree. My only concern is that may not necessary be an easier way, but just different ways. And introducing yet another way to describe the segmentation may be even confusing.

[2022-05-04 10:48] apint0-media opened #174 "DICOM SEG for CMR cine data (2D + t)"
Trying to generate a dicom seg file based on a multiple unsigned np.array, which is of shape (#_frames, #rows, #cols). The way I've approached the task was by generating dicom seg with the same series uid across all frames of the segmentation array. However, when displaying the output the 3 different delineated structures do not appear on a single frame (spatially they do not overlap).

Bellow is

[2022-05-04 17:41] fedorov commented on #164
A related issue is that currently tracking ID/UID are mandatory for `MeasurementsAndQualitativeEvaluations`, but they are definitely not required by TID 1501, and for the situation described in this issue I do not think they should be required under any circumstances. There is no annotation to track.

[2022-05-04 18:39] hackermd commented on #164
This was a design decision. I think one should always provide identifiers, even if there is no intention to track (at the time of creation)

[2022-05-04 19:02] fedorov commented on #164
Ok, I understand. To clarify, it's not that there is no intention to track, it is that it is not clear what those identifiers would refer to. There will be nothing in the container other than the image and the code content items.

[2022-05-04 19:26] CPBridge commented on #174
Hi @apint0-media , thanks for trying out highdicom.

First of all, please note that the correct way to create the DICOM SEG in a situation like this where you have a series of input files that are segmented is to place the full segmentation in a single DICOM SEG file. This is because DICOM SEG is a newer part of the standard and expects things to be multiframe.

Secondly, also note that, due to th

[2022-05-04 19:59] fedorov commented on #164
@CPBridge I followed your advice re workaround, and the IMAGE content item is added outside of the container. Is there something I am not doing correctly?

[code]

Result:
[code]

So I am thinking to instead manually populate the container as follows:

[code]

This seems to work as expected:
[code]

[2022-05-04 20:07] fedorov commented on #164
Except this is not going to work, since `MeasurementReport` would not accept my list of containers in place of list of `MeasurementsAndQualitativeEvaluations`, so I am not sure how to proceed.

[2022-05-04 21:06] CPBridge commented on #164
HI @fedorov my apologies: I made a mistake in my initial snippet, you should append the new `ImageContentItem` (`source_image`) to the `ContentSequence` of the `MeasurementsAndQualitativeEvaluations`, and not the object itself.

I.e. adapting your first snippet, change this:

[code]

to this:

[code]

*However* I have already addressed this issue in pull request #169, so that you can do everything

[2022-05-04 23:15] hackermd commented on #164
#169 has meanwhile been merged.

[2022-05-05 02:55] fedorov commented on #164
Thank you for your help with this. I wanted to try it out, but am experiencing issues with importing packages while installing using `setup.py` - `import pydicom` is failing for me, here's the notebook with the steps: https://colab.research.google.com/drive/1OHzeZY03gG7PdJTK85DOAaPC-fp2YwHA?usp=sharing. Am I supposed to use `python setup.py install` to install the version that does not have a rele

[2022-05-05 03:03] CPBridge commented on #164
Try `pip install .` from the root directory of the cloned repo, rather than directly invoking `setup.py`

[2022-05-06 01:34] fedorov commented on #164
Resolved by #169

[2022-05-06 01:34] #164 closed

[2022-05-06 02:18] CPBridge commented on #164
In fact it's already there ;)

https://highdicom.readthedocs.io/en/latest/installation.html

It is also a standard way of setting up Python packages these days so that they play nicely with pip

[2022-05-06 09:23] apint0-media commented on #174
Thanks for the help! Think an image might be better to describe what was I referring to. The goal was to obtain something like figure bellow, for each frame (viewer: 3D Slicer)

![image-20220411-085648](https://user-images.githubusercontent.com/104420558/167103332-85c909ae-5af3-4097-b83a-e4eae71159fb.png)

Currently, with the above code, the output does not show the 3 regions in the same plane and

[2022-05-06 09:39] apint0-media commented on #174
Hi @CPBridge. Great feedback, thanks!

I will definitely check what is happening to the `.pixel_array` and its dimensions. Regarding the questions asked:

1. Yes, each pixel is either one of four values belonging to the set [0, 1, 2, 3].
2. I am using 3D Slicer, but also MicroDicom. Curiously, I was checking OHIF to discard also if it was on the side of the viewer.
3. My previous comment shows one

[2022-05-06 13:32] hackermd commented on #164
@fedorov version [0.17.0](https://github.com/herrmannlab/highdicom/releases/tag/v0.17.0) is now available on PyPI: https://pypi.org/project/highdicom/0.17.0/

[2022-05-06 22:13] CPBridge commented on #174
Thanks @apint0-media. I am wondering whether this may have something to do with the time dimension. Unfortunately the way that segmentation frames are indexed in segmentations is extremely flexible and we have only implemented a couple of specific situations in highdicom so far, they may not be dealing with the time dimension correctly. We have not tried with data with a time dimension before. Or

[2022-05-11 14:35] apint0-media commented on #174
What I'm viewing with MicroDicom is only the information of a single input reference, i.e. 3 object of `seg_array `that concern the first frame. Since I recon that my vocabulary might not relate precisely to what I'm trying to detail, I've attached a small video sample of the current output.

https://user-images.githubusercontent.com/104420558/167875665-efd5c3e6-760b-494a-b9a8-d3d59d16bf1e.mp4

Ma

[2022-07-05 21:47] adamvonpaternos opened #180 "Provide meaningful error message if all Segmentation frames are empty"
When using the static method of `_omit_empty_frames`, if there are no empty frames present (frames without positive pixels), then numpy thows an exception with regard to the empty `non_empty_frames` list passed into `np.stack`.

https://github.com/herrmannlab/highdicom/blob/95f39dd722ae6d357af3f942e2130d0ff4d68bfc/src/highdicom/seg/sop.py#L1037-L1078

May I suggest just a check on the array before

[2022-07-05 22:11] CPBridge commented on #180
Thanks for filing the bug report, @adamvonpaternos !

Though this seems like a simple bug, it actually gets at a more fundamental point...

If all the frames are empty, and the "omit_empty_frames" option is used, what exactly should the desired behaviour be?

I would argue that we should probably throw a more useful error message and leave it up to the user to check that the segmentation is non-em

[2022-07-05 22:17] CPBridge commented on #180
Actually @adamvonpaternos can you please confirm whether you are encountering this issue when there are no empty frames or all empty frames? Your text "if there are no empty frames present" suggests that there are "no empty frames" present, but your solution is a fix for "no non-empty frames" (i.e. all frames are empty).

[2022-07-05 22:27] hackermd commented on #180
I fully agree.

[2022-07-05 22:28] hackermd commented on #180
That's the conclusion I reached as well.

[2022-07-06 13:23] pieper commented on #180
I would think creating an empty segmentation is perfectly valid, meaning that none of the segmented structure was in the image.  Like passing an empty list is different than no list at all.

[2022-07-06 14:50] fedorov commented on #180
I think we had this discussion before with participation of @dclunie, and I understand it is not the correct DICOM practice to indicate findings that are not present by communicating empty segments. And I agree with that approach. For example, we probably would not want to expect to see an empty MR series to indicate that certain sequence was not acquired. But I admit this question came up in the

[2022-07-06 15:35] CPBridge commented on #180
To be clear, the current behaviour of highdicom when it receives a segmentation pixel array that is all zeros (avoiding the potentially confusing term "empty") is as follows:

- if the `omit_empty_frames` argument is `True` (the default)
  - fail with an unhelpful error message (as brought to our attention by @adamvonpaternos )
- if the `omit_empty_frames` argument is `False`
  - create a segmenta

[2022-07-06 15:41] CPBridge commented on #180
(also, before we decide on an approach, I would like to get confirmation from @adamvonpaternos that we haven't miunderstood what's leading to the problem he's having. It's possible that he's actually uncovered a different bug)

[2022-07-06 16:06] adamvonpaternos commented on #180
Apologies for the delayed response. @CPBridge This is occurring in my use case when the pixel array contains entirely `False` values, i.e. all of the contained frames do not contain positive pixels. Thank you for the activity on this!

[2022-07-06 16:36] CPBridge commented on #180
My personal leaning is to continue to allow segmentations with no "positive" pixels. The reason being that otherwise it becomes difficult to differentiate between a segmentation that was run and produced no positive output, and simply the lack of a segmentation. If we think in the context of an automated process (my bias of course), I would not want a segmentation process that crashed and therefor

[2022-07-06 16:43] seandoyle commented on #180
@CPBridge  - I agree with continuing to allow segmentations with no 'positive' pixels.  As we create pipelines of models that can pass inference results this makes sense.  But I do worry about the ambiguity of 'no findings' vs 'internal error'.  I wonder if there should be a special code or attribute that indicates 'no findings' for the automated scenario because it's going to be ambiguous and/or

[2022-07-06 18:00] hackermd commented on #180
Agreed! We need to allow segments with all values being zero.

Whether an "empty" segmentation could be encoded in a sparse fashion is something that probably would require a change of the standard and may cause problems for several libraries and applications.

[Part 3 Section C.7.6.6 Multi-frame Module](https://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_C.7.6.6.html#sect_C.7.6.

[2022-07-06 18:05] hackermd commented on #180
@CPBridge I would suggest not raising an error when `omit_empty_frames` is `True` and no non-empty frames exist, but instead log a warning message and encode all frames. If one performs segmentation, one may not know upfront whether the operation will result in any pixel will be assigned a value greater than one and one would thus have to always set `omit_empty_frames` to `False` to be on the save

[2022-07-07 20:33] fedorov commented on #180
I understand. But I see more harm than benefit in creating a blank object to indicate that.

Effort to troubleshoot this by the user for the first use case - visualization - will be very significant. In fact, for a non-DICOM-savvy user, there will be no recourse to understand if the problem is in the viewer, in the data, or establish blank segmentation was intended.

For the second use case - sear

[2022-07-07 20:46] pieper commented on #180
@fedorov it sounds like you are concerned about current OHIF not having features to make it clear that segmentations are empty, and that's a fair issue.  But I agree with the sentiment that @CPBridge summarized as the ability to "differentiate between a segmentation that was run and produced no positive output, and simply the lack of a segmentation".

To me, for example, running a tumor segmentati

[2022-07-07 20:50] hackermd commented on #180
This may also be the case in other situations. For example, if there is just one positive pixel or very few, the user may have a hard time seeing that in a viewer, too. Also, if the segmentation is fractional, the values may all be very close to zero, which may also be hard to see (depending on the palette color lookup table).

Well, we also don't have a solution to determine the size or shape of

[2022-07-07 21:05] fedorov commented on #180
Agreed - it must be indicated, but I do not think blank segmentation is the mechanism that should be used to indicate that running an algorithm returned negative result.

There are numerous representations and types of decisions that could be produced by an algorithm. Should we enumerate blanks for all options? What if the algorithm produces RTSTRUCT or point annotation?

There are numerous reason

[2022-07-13 14:45] CPBridge commented on #159
This has been resolved in #183

However some of the discussion here may prove very useful in the future

[2022-07-13 14:45] #159 closed

[2022-07-19 08:21] EliaSchiavon opened #187 "Provide always the available metadata"
I recently came across this [SO question](https://stackoverflow.com/questions/72840959/reading-the-first-frame-of-a-large-dicom-file/) and as a solution, I answered suggesting the usage of this package. However, I noticed that since the attributes `ICCProfile` and `OpticalPathSequence` are not present, it's not possible to inspect the metadata of the file provided by the OP at all. Furthermore, si

[2022-07-19 13:07] wyli opened #188 "compatibility with `coverage`?"
I came across this issue when importing highdicom with `coverage`:
[code]
it seems the import always takes a long time, compared with other python packages such as numpy.

here is a minimal example in colab:
https://colab.research.google.com/drive/18qCwaHr3CWhvTmdY8dZKA2Pn0dDzlmvR
![Screenshot 2022-07-19 at 14 06 27](https://user-images.githubusercontent.com/831580/179757280-9ac62d08-062f-4f9b-975

[2022-07-19 13:20] CPBridge commented on #188
This is speculation but I imagine that this is probably due to just a couple of files within highdicom. The package contains a large part of the DICOM standard specification scraped from the standard itself and placed into nested Python list/dictionary structures within the modules `highdicom._modules` and (to a lesser extent) `highdicom._iods`. These files are therefore very large and can cause c

[2022-07-19 15:27] hackermd commented on #187
@EliaSchiavon thank you very much for answering the question on SO and for reporting the issue. I agree with your assessment. It is probably better for `highdicom.io.ImageFileReader` to not fail upon construction to allow reading of image frames without color correction.

#189 addresses the issue. I tested it on the example image provided in the SO question. Could you please give it a try, too?

[2022-07-20 02:33] #187 closed

[2022-07-20 05:29] EliaSchiavon commented on #187
I'm seeing this only now, I'll give it a try anyway today. Thank you for your work!

[2022-07-20 06:10] wyli commented on #188
Thanks, that's probably the issue. I couldn't find a way to exclude the files. on the other hand, I think it might be useful for highdicom to consider other possibilities of packaging that static standard specification? and perhaps improve the import by loading the module attributes lazily only when the users request them?

[2022-07-20 12:45] CPBridge commented on #187
@hackermd  did you mean to merge #189 ? it has not been merged yet?

[2022-08-14 23:26] CPBridge commented on #188
@wyli see #196 for a solution to your issue

[2022-08-15 20:30] wyli commented on #188
thanks!

[2022-08-17 14:57] CPBridge commented on #188
There is still room for improvement here, but marking this immediate issue as resolved

[2022-08-17 14:57] #188 closed

[2022-08-17 15:09] wyli commented on #188
thank you, in the colab notebook now it works fine!
[code]

[2022-08-30 15:44] hackermd commented on #180
@fedorov I disagree. If an algorithm failed, then there should be no Segmentation instance. If the algorithm performed segmentation, then any segment that was evaluated should be included in the Segmentation instance, independent of whether any pixel is positive or not. The absence of a segment is semantically very different from an "emtpy" or "blank" segment.

[2022-08-30 15:50] hackermd commented on #180
@fedorov If I understand correctly, then it is the challenge to distinguish between different instances of the same segment type that you are concerned about. I agree with you that the current Segmentation IOD is not ideal for instance segmentation and we should either improve the existing Segmentation IOD (see #184) or define a new Instance Segmentation IOD. cc @dclunie

[2022-09-22 10:04] ChristianEschen opened #200 "Problem writing x-ray angiography data (2D+ time)"
Hi.

I try to use the software to write a DICOM SEG file for x-ray angiography images (2D+time).

The files can be found here:
http://www.rubomedical.com/dicom_files/dicom_viewer_0002.zip

However, I get the following error:
##########################
Exception has occurred: ValueError       (note: full exception trace is shown but execution is paused at: _run_module_as_main)
Only a single frame i

[2022-09-22 23:59] CPBridge commented on #200
Hi @ChristianEschen, thanks for using the library and reporting this issue.

Unfortunately, what you are reporting is currently the expected behaviour of the library in this situation, i.e. an error message that what you are trying to do is not supported. There are a very large number of possible DICOM objects for which users may wish to create segmentations, which often require tailored methods t

[2022-09-23 00:01] CPBridge commented on #200
Note that #174 is a related issue

[2022-10-21 18:30] pieper opened #202 "Slow performance reading SEG with 98 segments"
I have this notebook testing the time to run the [seg example](https://highdicom.readthedocs.io/en/latest/usage.html#parsing-segmentation-seg-images) on a file with ~100 segments.  It takes over 8 minutes to load this file and print the simple metadata.

Is this expected?  Can we expect any optimization as the library matures?  Working with the same data in a research format such as nrrd is orders

[2022-10-21 18:30] pieper commented on #202
Here is the notebook:

https://colab.research.google.com/drive/1ZLqJwDIO1XKnnjOzClkSq8RIawm3sp9M?usp=sharing

[2022-10-21 20:25] CPBridge commented on #202
Hi @pieper

The `iter_segments` was an early solution for accessing segmentation pixels, but has largely been replaced by a set of methods on the Segmentation class itself. Unfortunately this has not yet made it into the User Guide yet, though I do have a branch on it. It is fairly well documented in the [API docs for the segmentation class](https://highdicom.readthedocs.io/en/latest/package.html#

[2022-10-21 21:27] pieper commented on #202
Thanks for the insights @CPBridge!  For context, we are looking at how to optimize the import of SEG in Slicer.  We have been [using dcmqi](https://github.com/QIICR/QuantitativeReporting/blob/master/DICOMPlugins/DICOMSegmentationPlugin.py#L80-L307), which works very well, but takes about 4 minutes for this dataset and since we wish to support many more segments in the future we wanted to explore h

[2022-10-21 21:27] #202 closed

[2022-10-28 15:06] pieper opened #203 "SegmentedPropertyTypeModifierCodeSequence (left/right flag) lost in round trip"
Using [this public SEG dataset](https://www.dropbox.com/s/9eesbv22hsaj4sn/ABD_LYMPH_008_SEG.dcm?dl=0) I tried the following:

[code]

Comparing the dumps of the original (left) and the newly saved file (right) I notice that the left/right modifiers are missing as in the example below.  There are some other differences but I think they are inconsequential.

![image](https://user-images.githubuserco

[2022-10-28 15:16] CPBridge commented on #203
Yikes, thanks for reporting this @pieper . Definitely a high priority to fix!

[2022-11-09 18:45] CPBridge commented on #203
Resolved with #205

[2022-11-09 18:45] #203 closed

[2022-11-09 18:46] CPBridge commented on #180
Resolved with #181

[2022-11-09 18:46] #180 closed